<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Informações do meu Amigo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Eu</a> |
        <a href="{{ url_for('home1') }}">Pai</a> |
        <a href="{{ url_for('home2') }}">Mãe</a> |
        <a href="{{ url_for('home3') }}">Amigo</a>
    </nav>
    <h1>Relação: Amigo</h1>
    <h2>Nome: {{ nome }}</h2>
    <h2>Idade: {{ idade }}</h2>

    <img src="{{ url_for('static', filename='amigo.png') }}" 
         alt="Imagem do amigo" width="200">
</body>
</html>
